
/*******************************************************************************
********************** The Odin Project: Google Homepage ***********************
********************************************************************************

***********************          by Justin Bauer          **********************
***********************          GitHub: jbNype           **********************
***********************   justinbauer.design@gmail.com    **********************
***********************     http://justinbauer.design     **********************

********************************************************************************/
body{
    font-size: 13px;
    color:#222;
    font-family: "Roboto", arial, sans-serif;
}
/********************** Nav Menu **********************/
header {
    position: fixed;
    width:100%;
    top:0;
}
nav {
    display:flex;
    justify-content:flex-end;
    height:48px;
    padding: 6px;
}
ul {
    display:flex;
    list-style-type:none;
    align-items: center;
}
li  {
    display:inline;
}
li a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}
li a:visited{
    text-decoration: none;
    color:rgba(0,0,0,0.87);
}
nav li.nav-left a:hover{
    text-decoration: underline;
}
nav li.nav-left{
    padding-right:15px;
}
nav li.nav-right{
    padding: 6px;
}
/**** Icon - Apps ****/
.apps span{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius:25px;
}
.apps span:hover{
    background-color:rgba(60,64,67,0.08)
}
.material-icons{
    color:#5f6368;
    font-size: 24px;
    align-items: center;    
    text-align: center;
    padding: 8px;
}
/**** ISign In button ****/
.sign-in{
    font-weight:500;
    font-size:14px;
    line-height:16px;
    letter-spacing:0.25px;
    padding: 9px 23px;
    color:#fff;
    background-color:#2b7de9;
    border-radius:4px;
    margin-right:8px;
    min-width:96px;
    border: solid 1px transparent;
}
.sign-in:hover{
    background: #4285f4;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

/********************** Main **********************/
main{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
/**** Google Logo Image ****/
.google-img{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-height:290px;
    min-height:90px;
}
.google-logo{
    width:auto;
    max-width: 100%;
    max-height: 100%;
}
/**** Box for centering content ****/
.centered {
    position:absolute;
    width:100%;
    top
    :28%;
}

/**** Google search bar ****/
.form{
    padding:20px;
}
.search-bar {
    display:flex;
    align-items: center;
    width:auto;
    max-width:584px;
    background:#fff;
    border:1px solid #dfe1e5;
    height:42px;
    border-radius:25px;
    margin: 0 auto;
}
.search-bar:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}
.inside-bar{
    padding: 5px 8px 0px 14px;
    background:#fff;
}
.search-bar .material-icons{
    font-size:20px;
    color:#9aa0a6;
    display:flex;
    align-items:center;
    padding-right:13px;
    margin-top:-3px;
}
.search-input{
    background-color:#fff;
    border:none;
    margin:0;
    display:flex;
    flex:100%;
    height:34px;
    font-size:16px;
    color:rgba(0,0,0,.87);
    margin-top:-5px;
}
.search-buttons{
    margin-top:20;
}
input[type="submit"]{
    font-size:14px;
    height:34px;
    margin:11px 4px;
    padding:0 16px;
    min-width:54px;
    text-align:center;
    border-radius:4px;
    background-color:#f8f9fa;
    border: 1px solid transparent;
    }
/**** "Google Search" & "I'm Feeling Lucky" buttons ****/
input[type="submit"]:hover{
        color:#202124;
        border:1px solid #dadce0;
        background-color:#f8f9f1;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.language a {
        text-decoration: none;
        color:#1a0dab;
        font-size:small;
}
.language a:visited {
        color: #1a0dab;
}
.language a:hover {
        text-decoration:underline;
}

/********************** footer **********************/
footer{
    position: fixed;
    width:100%;
    bottom: 0;
    background-color:#f2f2f2;
    color:rgba(0,0,0,.54);
    font-size:15px;
}
footer a{
    color:rgba(0,0,0,.54);
    font-size:15px;
}
footer a:hover{
    text-decoration: underline;
}
/**** Top half of footer ****/
.footer-top{
    display:flex;
    justify-content: flex-start;
    padding: 15px 30px;
    border-bottom:1px solid #dadce0;
}
/**** Responsive footer elements ****/
.footer-bottom{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 20px;
}
.footer-ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-bottom li a{
    display:block;
    white-space: nowrap;
    padding:15px;
}
.footer-left, .footer-right {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}