
body{
    font-size: 13px;
    color:#222;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
}

/********************** Nav Menu **********************/
header {
    position: fixed;
    width:100%;
    top:0;
}
nav {
    display:flex;
    justify-content:flex-end;
    height:48px;
    padding: 6px;
}
ul {
    display:flex;
    list-style-type:none;
    align-items: center;
}
li  {
    display:inline;
}
li a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}
li a:visited{
    text-decoration: none;
    color:rgba(0,0,0,0.87);
}
nav li.nav-left a:hover{
    text-decoration: underline;
}
nav li.nav-left{
    padding-right:15px;
}
nav li.nav-right{
    padding: 6px;
}

.apps span{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius:25px;
    height:40px;
    width:40px;
}

.apps span:hover{
    background-color:rgba(60,64,67,0.08)
}
.apps .material-icons-outline{
    /* height:100%; */
    align-items: center;    
    font-family: 'apps', serif;
    text-align: center;
    padding: 8px;
    /* font-size:1px; */
        }
   
.sign-in{
    font-weight:500;
    font-size:14px;
    line-height:16px;
    letter-spacing:0.25px;
    padding: 9px 23px;
    color:#fff;
    background-color:#2b7de9;
    border-radius:4px;
    margin-right:8px;
    min-width:96px;
    border: solid 1px transparent;
}
.sign-in:hover{
    background: #4285f4;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

/********************** Main **********************/
main{
    /* text-align:center; */
}
main{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;

}
.google-img{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.search-form{
    padding:20px;
}
.search-bar {
    display:flex;
    align-items: center;
    width:auto;
    width:584px;
    background:#fff;
    border:1px solid #dfe1e5;
    height:44px;
    border-radius:25px;
}
.inside-bar{
    padding: 5px 8px 0px 14px;
    background:#fff;
}
.search-bar .material-icons{
    color:#9aa0a6;
    display:flex;
    align-items:center;
    padding-right:13px;
    margin-top:-3px;
}
.search-input{
    background-color:#fff;
    border:none;
    margin:0;
    display:flex;
    flex:100%;
    height:34px;
    font-size:16px;
    color:rgba(0,0,0,.87);
    margin-top:-5px;
}
.search-buttons{
    margin-top:20;
}
input[type="submit"]{
    font-size:14px;
    height:34px;
    margin:11px 4px;
    padding:0 16px;
    min-width:54px;
    text-align:center;
    border-radius:4px;
    background-color:#f8f9fa;
    border: 1px solid transparent;
    }
    input[type="submit"]:hover{
        color:#202124;
        border:1px solid #dadce0;
        background-color:#f8f9f1;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }

/********************** footer **********************/
footer{
    position: fixed;
    width:100%;
    bottom: 0;
    background-color:#f2f2f2;
    color:rgba(0,0,0,.54);
    font-size:15px;
}
footer a{
    color:rgba(0,0,0,.54);
    font-size:15px;
}
footer a:hover{
    text-decoration: underline;
}
.footer-top{
    display:flex;
    justify-content: flex-start;
    padding: 15px 30px;
    border-bottom:1px solid #dadce0;
}
.footer-bottom{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:46px;
}

.footer-bottom li{
    display:block;
    padding:15px;
    white-space: nowrap;
}